html,
body {
    height: 100%;
}

a {
    transition: all .2s ease-in-out;
}

.title-h2 {
    font-size: clamp(22px, 5vw, 34px);
    line-height: clamp(26px, 6vw, 38px);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity 0.3s ease;
    z-index: 1;
}
main.main {
    flex: 1 1 auto;
}
.no-scroll {
    overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* button to up */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    font-size: 28px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: var( --red-color);
    border-radius: 50%;
    color: #fff;
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: pointer;
    z-index: 10;
    &:hover {
        opacity: 0.5;
    }
}