:root {
    --bg-color: #fff;
    --text-color: #000;
    --accent-color: #605C53; 
    --contrast-color: #5a3d31;
    --gray-color: #ccc;
    --red-color: #ee6e73;
    --light-grey-color: #F5F5F5;
    --hover-color: #414B4A;
}