.about-page {
    
    &__main-content {
        padding-top: 40px;
       
    }
    &__content-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 40px;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &__image {
        img {
            @media (max-width: 768px) {
               width: 100%;
               height: 300px;
               object-fit: cover;
            }
        }
    }
    &__content-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 40px;
        padding: 20px;
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
        div {
            @media (max-width: 768px) {
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                }
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &__title {
        font-size: clamp(24px, 5vw, 40px);
        line-height: clamp(28px, 6vw, 48px);
        margin-bottom: 15px;
    }
}   