.all-category {
	padding: 40px 0 80px;
	&__title {
		text-align: center;
		margin-bottom: 40px;
	}
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    width: 200px;
    text-align: center;
	background-color: var(--light-grey-color);
	padding: 10px;
	transition: box-shadow .3s ease;
	&:hover {
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
	}
}

.category-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
	margin: auto;
}

.category-item h3 {
    margin-top: 10px;
    font-size: 18px;
	text-align: center;
}
