.hero {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__content {
		flex: 0 1 40%;
	}
	&__image {
		flex: 0 1 60%;
	}
	&__title {
		font-size: clamp(24px, 5vw, 40px);
    	line-height: clamp(28px, 6vw, 48px);
		margin-bottom: 15px;
	}
	&__text {
		margin-bottom: 25px;
		font-size: clamp(16px, 5vw, 18px);
    	line-height: clamp(20px, 6vw, 22px);
		font-weight: 400;
	}
}