.why-choose-us {
    padding: 80px 0;
    @media (max-width: 480px) {
        padding: 40px 0;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__number {
        font-size: clamp(24px, 5vw, 40px);
        line-height: clamp(28px, 6vw, 48px);
        font-weight: 600;
        position: relative;
        text-align: center;
        color: var(--contrast-color);
        &::after {
            content: '';
            display: block;
            background-color: var(--contrast-color);
            width: 50px;
            height: 2px;
            margin: 10px auto 15px;
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__text {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
}