@import "../../node_modules/aos/dist/aos.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.theme.default.css";

//Base
@import "./base/reset";
@import "./base/vars";
@import "./base/global";
@import "./base/button";
@import "./base/woo";
//Blocks
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/all-category";
@import "./blocks/featured-products";
@import "./blocks/about";
@import "./blocks/articles";
@import "./blocks/home-text";
@import "./blocks/single-article";
@import "./blocks/custom-breadcrumbs";
@import "./blocks/footer";

body {
    min-width: 320px;
    font-family: 'Arimo', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.base-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}